@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
	


/* div{
	display: flex;
} */

*{
	margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	
}



html, body {
    
background-image:url(/imagenes/Fondo/Fondo.jpg) ;
    
    
     /* background-position-x:center;
     background-position-y:center; */
	 
     background-size: 1390px;
     background-repeat: no-repeat;
     
     width: 100%;
     height: 100%;

	 background-size: contain;

	 background-color: #f7f7d633;


	

	 font-size: 15px;
	 
	 
	 font-family: 'Montserrat Alternates', sans-serif;


	 

 }




	

	.capa{
		position: fixed;
		width: 100%;
		height: 100vh;
		
		z-index: -1;
		top: 0;left: 0;
	}
	/*Estilos para el encabezado*/
	.header{
		width: 100%;
		height: 100px;
		position: fixed;
		top: 0;left: 0;
	}
	.container{
		width: 90%;
		max-width: 1200px;
		margin: auto;
	}
	.container .btn-menu, .logo{
		float: left;
		line-height:100px;
	}
	.container .btn-menu label{
		color: rgb(0, 0, 0);
		font-size: 25px;
		cursor: pointer;
	}
	.logo h1{
		color: rgb(0, 0, 0);
		font-weight: 400; 
		 font-size: 22px; 
		 margin-left: 10px;
		 display: unset;
	}
	.container .menu{
		float: right;
		line-height: 100px;
	}
	.container .menu a{
		display: inline-block;
		padding: 15px;
		line-height: normal;
		text-decoration: none;
		color: rgb(0, 0, 0);
		transition: all 0.3s ease;
		border-bottom: 2px solid transparent;
		font-size: 15px;
		margin-right: 5px;
	}
	.container .menu a:hover{
		border-bottom: 2px solid #206d31;
		padding-bottom: 5px;
	}
	/*Fin de Estilos para el encabezado*/

	/*Menù lateral*/
	/* #btn-menu{
		display: none;
	}
	.container-menu{
		position: absolute;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 361vh;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
		z-index: 1;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	} */



	/* .cont-menu{
		width: 100%;
		max-width: 380px;
		background: #1c1c1c;
		height: 361vh;
		position: fixed;
		transition: all 500ms ease;
		transform: translateX(-100%);
		z-index: 1000;
	}




	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #c7c7c7;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 5px solid #c7c7c7;
		background: #1f1f1f;
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}

	/*Fin de Menù lateral*/


/*Menu lateral Experimental */


#btn-menu{
	display: none;
}
.container-menu{
	position: absolute;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 361vh;
	top: 0;left: 0;
	transition: all 500ms ease;
	opacity: 0;
	visibility: hidden;
	z-index: 1;
}
#btn-menu:checked ~ .container-menu{
	opacity: 1;
	visibility: visible;
}

.cont-menu{
	width: 100%;
	max-width: 380px;
	background: #cdcdc3cf;
	height: 361vh;
	position: fixed;
	transition: all 500ms ease;
	transform: translateX(-100%);
	z-index: 1000;
}

#btn-menu:checked ~ .container-menu .cont-menu{
	transform: translateX(0%);
}
.cont-menu nav{
	transform: translateY(15%);
}
.cont-menu nav a{
	display: block;
	text-decoration: none;
	padding: 20px;
	color: black;
	border-left: 5px solid transparent;
	transition: all 400ms ease;
}
.cont-menu nav a:hover{
	border-left: 5px solid #c7c7c7;
	background: #114900b4;
	color: #ffff;
	box-shadow: #33333386 0px 7px 7px;
}
.cont-menu label{
	position: absolute;
	right: 5px;
	top: 10px;
	color: #fff;
	cursor: pointer;
	font-size: 18px;
} 

/* Fin del menu lateral experimental */




	


.navegacion{
    background: rgb(216, 216, 216);
    box-shadow: #33333386 7px 7px 7px;
	position: sticky;
    z-index: 1;
    
}


a:hover{


color: white;
transition: all .3s ease;
}



::selection{
	background-color: #389135;
	color: #ffff;
}

h4{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 30px;
}

.tam{
	font-size: 20px;
}

.center{
	text-align: center;
	font-size: 15px;



}

a{
	font-size: 15px;
}

/* -----------------TITULOS-------------------- */

.titu{
	
	text-align: center;

	font-size: 40px;

	background-color: #dadada;

	padding: 10px;
	
	border: 1px solid black;

	border-radius: 20px 15px 20px 15px;

}



.titu2{
	font-size: 30px;
	color: #000000;
	text-align: center;
	margin: 0px 10px 190px 0px;
	background-color: rgba(255, 255, 255, 0.397)
	

}

/* -------------------------------------------- */

/* ----------------CARDS--------------- */


@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/*Cards*/
.container-card{
	width: 60%;
	display: flex;
	flex-wrap: wrap; /*Eliminar para volver a la normalidad*/
	max-width: 960px;
	margin: auto;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #7a7a7a;
}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
	/* display: flex;     
    align-items: center; */ /*Remover linea 358 y 359 para volver a la normalidad*/
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 430px;
	

}
.card .contenido-card{
	padding: 15px;
	text-align: center;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #2fb4cc;
	border: 1px solid #2fb4cc;
	border-radius: 4px;
	transition: all 400ms ease;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #2fb4cc;
	color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
	.container-card{
		flex-wrap: wrap;
	}
	.card{
		margin: 15px;
	}
}
/*Fin-Cards*/



/* ------------------IMAGENES------------- */


.im{

width: 540px ;
height: 596px ;

margin: 40px 10px 0px;

border: solid rgb(84, 85, 83);
border-radius: 20px;

position: absolute;

}



/* -------------------COMPRAR------------- */


.h01{
	float: right;

	margin: 30px 0px 0px 600px;
}

.h02{
	text-align: center;

	background-color: #4dbe49;
	padding: 12px 40px ; 
	border-radius: 15px;
	text-decoration: none;
	color: white;
	margin: 0px 0px 0px 300px;
	font-size: 25px;
}

.h02:hover{
	cursor: pointer;
	background: #8ad487;
	color: black;
	transition: all .6s ease;
}

.descrip{
	font-size: 20px;
	text-align: justify;
}

.d-i{
	text-align: center;
	color: rgb(0, 0, 0);
	
}

.redes{
background-color: #7a7a7a86;
padding: 10px 10px 160px 10px;
text-align: center;
font-size: 20px;
}

.icono-facebook{
	font-size: 30px;
	color: #1977F3;
	text-decoration: none;

}

.titu3{
font-size: 30px;
}


.icono-instagram{
	font-size: 30px;
	color: rgb(218, 128, 38);
	text-decoration: none;
	
}



.p-final{
display: grid;
}

.p-final2{
	text-align: center;
	
}

/* VISTA PC */

@media screen {
	@media (width >= 375px) {
		.container .menu{
			float: right;
		}

		/* .card img{
			width: 100%;
			height: 100px;
		} */

		.container-menu{
			height: 394vh;
		}

		.card{
			
			width: 100%;
			margin: 20px;
			border-radius: 6px;
			overflow: hidden;
			background: #fff;
			box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
			transition: all 400ms ease-out;
			cursor: default;
			display: flex;
			align-items: center;
		}

		/* .container-card{
			width: 60%;
			display: flex;
			flex-wrap: wrap; /*Eliminar para volver a la normalidad
			max-width: 960px;
			margin: auto; 
		}*/
	}

/* VISTA DE DISPOSITIVO MAS GRANDE QUE UN CELULAR PERO MENOS QUE UNA PC */

@media (375px <= width <= 768px) {
	
	

 }



/* VISTA CELULAR */

@media (width <= 768px) {

/* Main Menu */
	
	.container .menu{
		float: left;
		line-height: 100px;
		display: none;
	}

	.menu > li{
		display: none;
	}

	.menu > li > a{
		display: none;
	}

	.menu li:hover .submenu{
		display: none;
	}

	.menu{
		display: none;
	}
	
	

	.container .menu a{
	display: none;
	}

	.cont-menu{
		height: 950vh;
	}

	.cont-menu nav a{
		padding: 13px;
	}

/* ------------ Main Menu End ------------------ */

/* Background */
	html, body{
		background-size: 1500px ;
	}
/* ----------- Background End ---------------- */
	
/* Cards */
	
	.card img {
		height: 363px;
	}
	.card{
		
		width: 100%;
		margin: 20px;
		border-radius: 6px;
		overflow: hidden;
		background: #fff;
		box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
		transition: all 400ms ease-out;
		cursor: default;
		/* display: flex;
		align-items: center; */
	}

	.container-card{
		width: 60%;
		display: flex;
		/* flex-wrap: wrap; Eliminar para volver a la normalidad */
		max-width: 960px;
		margin: auto;
	}

/* ----------- Card's End ------------- */


}
@media (width >= 374px){
	
	
	.card img {
		height: 363px;
	}

	.card{
		
		width: 100%;
		margin: 20px;
		border-radius: 6px;
		overflow: hidden;
		background: #fff;
		box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
		transition: all 400ms ease-out;
		cursor: default;
		display: flex;
		align-items: center;
	}

	.container-card{
		width: 60%;
		display: flex;
		flex-wrap: wrap; /* Eliminar para volver a la normalidad */
		max-width: 960px;
		margin: auto;
	}
}

@media (width <= 659px){
	
	
	.card img {
		height: 363px;
	}

	.card{
		
		width: 100%;
		margin: 20px;
		border-radius: 6px;
		overflow: hidden;
		background: #fff;
		box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
		transition: all 400ms ease-out;
		cursor: default;
		/* display: flex; */
		align-items: center;
	}

	.container-card{
		width: 70%;
		display: flex;
		/* flex-wrap: wrap; Eliminar para volver a la normalidad */
		max-width: 960px;
		margin: auto;
	}
}

}


