@import url("https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap");

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

/* div{
	display: flex;
} */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* 
.super_contenedor{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
} */

html,
body {
  /* background-image:url(/imagenes/Fondo/Fondo.jpg) ; */

  /* background-position-x:center;
     background-position-y:center; */

  /* background-size: 1390px;
     background-repeat: no-repeat; */

  width: 100%;
  height: 100%;

  /* background-size: contain; */

  background-color: #f8f8f1;

  font-size: 15px;

  font-family: "Montserrat Alternates", sans-serif;
}

/*------------POST---------------*/

.postLink{
  color: #000000;
  font-size: 18px;
  text-align: center;
}

/*--------------Post-end----------------*/

/*-----------------------------Home Select---------------------------*/


button{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
}

..homeSelect button{
  text-decoration: none;
  font-size: 26px;
  text-align: center;
  color: #ffffff;
  border: solid #08471b 2px;
  border-radius: 50px;
  background-color: #516d44;
  margin: 0 18px;
  padding: 12px 22px;
}

.homeSelect{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  flex-wrap: wrap;
}

.homeSelect button:hover{
  color: #f4f5f8;
  background-color: #a6cc96;
  transition: all ease 1s;
  border: solid #08471b96 2px;
  cursor: pointer;
}

.velasButton :hover{
  
  background-image: url(/Img/Velas/20240507_154206.jpg);
  transform: matrix();
}

.materasButton{
  background-image: url(/Img/Materas/20240507_154206.jpg);
  transform: matrix();
}

.combosButton{
  background-image: url(/Img/Materas/20240507_154206.jpg);
  transform: matrix();
}


/* Estilos generales */


.container-button {
  width: 100%;
  display: flex; /* Centrar horizontalmente */
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1500; /* encima del carrusel para que los botones sean visibles */
  margin-top: 1rem;
}

/* Botón que actúa como "volver" (estilo sutil) */
.return-button {
  border: 2px solid #08471b;
  background-color: #f4f9f0;
  color: #08471b;
  transition: all .25s ease;
}
.return-button:hover { background-color: #eaf3e6; }


.customButton {
  position: relative; /* referencia para la imagen oculta */
  display: inline-block;
}

/* Estilos del botón */
.btn-hover {
  transition: background-color 0.3s;
}


/* Imagen oculta (posicionada respecto a .customButton) */
.hidden-image {
  position: absolute; 
  top: 115%; /* justo debajo del botón */
  left: 50%;
  transform: translateX(-50%);
  width: 320px; /* tamaño base */
  max-width: 40vw;
  max-height: 60vh;
  object-fit: cover;
  opacity: 0; /* oculta la imagen */
  transition: opacity .35s ease, transform .35s ease; 
  border-radius: 9px;
  z-index: 1000;
  box-shadow: 0 8px 24px rgba(0,0,0,0.25);
}

/* Mostrar la imagen al hover del contenedor */
.customButton:hover .hidden-image,
.btn-hover:focus + .hidden-image {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}


@media screen {
  @media (width <= 500px){
    .homeSelect button {
      font-size: 20px;
      margin: 6px;
    }
    .hidden-image{
      display: none; /* Ocultamos en móviles por usabilidad */
    }
  }
  /* @media (width >= 1500px), (height >= 1500px){
    .hidden-image{
      top: 100%;
    }
  } */
}

/* Ocultar la imagen en dispositivos táctiles */
@media (hover: none) and (pointer: coarse) {
  .hidden-image {
      display: none !important;
  }
}



/*----------------------------Home select end-----------------------------*/

.day_green {
  background-color: #678d55ad;
}

.capa {
  position: fixed;
  width: 100%;
  height: 100vh;

  z-index: -1;
  top: 0;
  left: 0;
}

/*Estilos para el encabezado*/
.header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.container .btn-menu,
.logo {
  float: left;
  line-height: 100px;
}

.container .btn-menu label {
  color: rgb(0, 0, 0);
  font-size: 25px;
  cursor: pointer;
}

.logo h1 {
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-size: 22px;
  margin-left: 10px;
  display: unset;
}

.container .menu {
  float: right;
  line-height: 100px;
}

.container .menu a {
  display: inline-block;
  padding: 15px;
  line-height: normal;
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: all 0.3s ease;
  border-bottom: 2px solid transparent;
  font-size: 15px;
  margin-right: 5px;
}

.container .menu a:hover {
  border-bottom: 2px solid #206d31;
  padding-bottom: 5px;
}

/*Fin de Estilos para el encabezado*/

#btn-menu {
  display: none;
}

.container-menu {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 361vh;
  top: 0;
  left: 0;
  transition: all 500ms ease;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}

#btn-menu:checked~.container-menu {
  opacity: 1;
  visibility: visible;
}

.cont-menu {
  width: 100%;
  max-width: 380px;
  background: #1c1c1ccf;
  height: 361vh;
  position: sticky;
  transition: all 500ms ease;
  transform: translateX(-100%);
  z-index: 1000;
  padding: 0px 2px 0px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}

#btn-menu:checked~.container-menu .cont-menu {
  transform: translateX(0%);
}

.cont-menu nav {
  transform: translateY(15%);
  text-align: center; /* Centrar los items del menú */
} 

.cont-menu nav a {
  display: block;
  text-decoration: none;
  padding: 18px;
  color: #f4f5f8;
  border-left: 5px solid transparent;
  transition: all 400ms ease;
}

.cont-menu nav a:hover {
  border-left: 5px solid #c7c7c7;
  background: #678d55;
  color: #ffff;
  box-shadow: #33333386 0px 7px 7px;
}

.cont-menu label {
  position: absolute;
  right: 5px;
  top: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}


/* Fin del menu lateral */

.navegacion {
  background: rgb(216, 216, 216);
  box-shadow: #33333386 7px 7px 7px;
  position: sticky;
  z-index: 1;
}

a:hover {
  color: white;
  transition: all 0.3s ease;
}

::selection {
  background-color: #678d55;
  color: #ffff;
}

h3 {
  color: #678d55ad;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
  font-size: 30px;
}

.tam {
  font-size: 18px;
  text-align: center;
}

.center {
  text-align: center;
  font-size: 15px;
}

a {
  font-size: 15px;
}

/* -----------------TITULOS-------------------- */

.titu {
  text-align: center;

  font-size: 40px;

  background-color: #dadada;

  padding: 10px;

  border: 1px solid black;

  border-radius: 20px 15px 20px 15px;
}

.titu2 {
  font-size: 30px;
  color: #000000;
  text-align: center;
  margin: 0px 10px 100px 0px;
}

/* Centramos el HR y el texto que aparece debajo de los botones */
hr { width: 80%; margin: 20px auto; border: none; border-top: 1px solid #ddd; }
.p-final2, .d-i { text-align: center; }


/* -------------------------------------------- */

/* ----------------CARDS--------------- */

/*Cards*/
.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Espacio entre las cards */
  margin: 20px auto;
  max-width: 1200px; /* Ancho máximo del contenedor */
}

.card {
  width: 300px; /* Ancho fijo para las cards */
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default;
  height: 690px; /* Altura fija para las cards */
  
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.card img {
  width: 100%;
  height: 270px; /* Altura fija para las imágenes */
  object-fit: cover; /* Ajustar la imagen dentro del contenedor */
}

.card .contenido-card {
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.card .contenido-card h3 {
  margin-bottom: 15px;
  color: #7a7a7a;
}

.card .contenido-card p {
  line-height: 1.8;
  color: #6a6a6a;
  font-size: 14px;
  margin-bottom: 5px;
}

.card .contenido-card a {
  display: inline-block;
  padding: 10px;
  margin-top: auto; /* Empuja el enlace hacia abajo */
  text-decoration: none;
  color: #3ea50f;
  border: 1px solid #3ea50f;
  border-radius: 4px;
  transition: all 400ms ease;
  margin-bottom: 5px;
}

.card .contenido-card a:hover {
  background: #678d55;
  color: #fff;
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container-card {
    flex-wrap: wrap;
  }

  .card {
    margin: 15px;
  }
}

/*Fin-Cards*/

/* ------------------IMAGENES------------- */

.im {
  width: 540px;
  height: 596px;

  margin: 40px 10px 0px;

  border: solid rgb(84, 85, 83);
  border-radius: 20px;

  position: absolute;
}

/* -------------------COMPRAR------------- */

.h01 {
  text-align: center;
  margin: 20px 0;
}

.h02 {
  display: inline-block;
  text-align: center;
  background-color: #4dbe49;
  padding: 12px 28px;
  border-radius: 15px;
  text-decoration: none;
  color: white;
  margin: 12px auto;
  font-size: 20px;
}

.h02:hover {
  cursor: pointer;
  background: #8ad487;
  color: black;
  transition: all 0.6s ease;
}

.h02:hover {
  cursor: pointer;
  background: #8ad487;
  color: black;
  transition: all 0.6s ease;
}

.descrip {
  font-size: 20px;
  text-align: justify;
}

.d-i {
  text-align: center;
  color: rgb(0, 0, 0);
}

.redes {
  background-color: #7a7a7a86;
  padding: 10px 10px 160px 10px;
  text-align: center;
  font-size: 20px;
}

/*----------ICONS--------------*/

.icono-facebook {
  font-size: 30px;
  text-decoration: none;

  background-color: #386cd7;
  background-image: linear-gradient(45deg, #3b5998 #ffffff);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icono-instagram {
  font-size: 30px;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.445);
  border-radius: 15px;
  background-image: linear-gradient(45deg,
      #feda75,
      #fa7e1e,
      #d62976,
      #962fbf,
      #4f5bd5);
}

.icono-facebook1 {
  font-size: 20px;
  text-align: center;
  /* border-radius: 15px;

  background-color: #23a8f571;
  background-image: linear-gradient(45deg, #1c3be6, #8395c5); */
}

.icono-instagram1 {
  font-size: 20px;
  text-align: center;
  /* border-radius: 15px;

  background-color: rgba(255, 0, 0, 0.445);
  background-image: linear-gradient(
    45deg,
    #feda75,
    #fa7e1e,
    #d62976,
    #962fbf,
    #4f5bd5
  ); */
}

.icono-whatsapp1 {
  font-size: 20px;
  text-align: center;
  /* border-radius: 15px;

  background-color: rgba(2, 109, 25, 0.445);
  background-image: linear-gradient(45deg, #34812d, #bbbbbb); */
}

.icono-instagram,
.ionicon .s-ion-icon {
  font-size: 30px;
  background-color: red;

  background-image: linear-gradient(45deg,
      #feda75,
      #fa7e1e,
      #d62976,
      #962fbf,
      #4f5bd5);

  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  background-clip: text;
}

.icono-instagram a {
  padding: 100px;
}

/*-------------Icons-end------------------*/

/*Paragraphs*/
.titu3 {
  font-size: 30px;
}

.p-final {
  display: grid;
}

.p-final2 {
  text-align: center;
}

/*paragraphs-end*/

/* VISTA PC */

@media screen {
  @media (width <=875px) {
    .container .menu {
      float: right;
    }

    /* .card img{
			width: 100%;
			height: 100px;
		} */

    .container-menu {
      height: 880%;
    }

    .card {
      width: 100%;
      margin: 20px;
      border-radius: 6px;
      overflow: hidden;
      background: #fff;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
      transition: all 400ms ease-out;
      cursor: default;
      display: flex;
      align-items: center;
    }

    /* .container-card{
			width: 60%;
			display: flex;
			flex-wrap: wrap; /*Eliminar para volver a la normalidad
			max-width: 960px;
			margin: auto; 
		}*/
  }

  /* VISTA DE DISPOSITIVO MAS GRANDE QUE UN CELULAR PERO MENOS QUE UNA PC */

  @media (475px <=width <=968px) {
    .container-menu {
      height: 470%;
    }
  }

  /* VISTA CELULAR */

  @media (width <=768px) {
    /* Main Menu */

    .container .menu {
      float: left;
      line-height: 100px;
      display: none;
    }

    .menu>li {
      display: none;
    }

    .menu>li>a {
      display: none;
    }

    .menu li:hover .submenu {
      display: none;
    }

    .menu {
      display: none;
    }

    .container .menu a {
      display: none;
    }

    .cont-menu {
      height: 100%;
      width: 100%;
    }

    .cont-menu nav a {
      padding: 10px;
    }

    .tam {
      text-align: center;
      font-size: 20px;
    }

    /* ------------ Main Menu End ------------------ */

    /* Background */
    html,
    body {
      background-size: 1500px;
    }

    /* ----------- Background End ---------------- */

    /* Cards */

    .card img {
      height: 363px;
    }

    .card {
      width: 100%;
      margin: 20px;
      border-radius: 6px;
      overflow: hidden;
      background: #fff;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
      transition: all 400ms ease-out;
      cursor: default;
      /* display: flex;
		align-items: center; */
    }

    .container-card {
      width: 60%;
      display: flex;
      /* flex-wrap: wrap; Eliminar para volver a la normalidad */
      max-width: 960px;
      margin: auto;
    }
  }

  @media (width >= 1200px), (height >1200){
    .card img {
      width: 390px;
      height: 555px;
    }

    .card {
      width: 120%;
      margin: 20px;
      border-radius: 6px;
      overflow: hidden;
      background: #fff;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
      transition: all 400ms ease-out;
      cursor: default;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .container-card {
      width: 120%;
      display: flex;
      flex-wrap: nowrap;

      /* Eliminar para volver a la normalidad */
      max-width: 1300px;
      max-height: 850px;
      margin: auto;
    }
  }

  @media (width <=659px) {
    .card img {
      height: 463px;
    }

    .card {
      width: 100%;
      margin: 20px;
      border-radius: 6px;
      overflow: hidden;
      background: #fff;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
      transition: all 400ms ease-out;
      cursor: default;
      /* display: flex; */
      align-items: center;
    }

    .container-card {
      width: 70%;
      display: flex;
      /* flex-wrap: wrap; Eliminar para volver a la normalidad */
      max-width: 960px;
      margin: auto;
    }
  }

  @media (width <=492px), (height <=854px) {
    .card img {
      height: 363px;
    }

    .card {
      width: 100%;
      margin: 20px;
      border-radius: 6px;
      overflow: hidden;
      background: #fff;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
      transition: all 400ms ease-out;
      cursor: default;
      display: block;
      /*Display: block; Original Cards.*/
      align-items: center;
    }

    .container-card {
      width: 60%;
      display: flex;

      max-width: 960px;
      margin: auto;
    }
  }
  @media (width <= 600px), (height <= 600px){
    .card {
      width: 300px; /* Ancho fijo para las cards */
      margin: 20px;
      border-radius: 6px;
      overflow: hidden;
      background: #fff;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
      transition: all 400ms ease-out;
      cursor: default;
      height: 480px; /* Altura fija para las cards */
      
    }
  }
}

/* ----------- Card's End ------------- */

.no-scroll {
  overflow: hidden;
}